#mainContainer {
  h1 {
    font-size: 5em;
    color: white;
    margin: 10px;
  }
  h2 {
  	font-size: 2.5em;
  	color: white;
  	margin: 10px;
  }

  btn {
  	margin: 10px;
  }

  .yourTurn {
  	color: green;
  	font-size: 4em;
  }

  .opponentTurn {
  	color: red;
  	font-size: 4em;
  }

  text-align: center;
}

